* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container {
    margin-top: 50px;
    margin-left: 20px;
}

.title {
    margin-bottom: 20px;
}

.p-tips {
    margin-bottom: 10px;
}

.url {
    width: 333px;
    height: 25px;
    padding-left: 10px;
}

.size {
    height: 25px;
}

.btn-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
    display: none;
}

.bottom-container {
    margin-left: 20px;
}

.download-btn {
    text-decoration: none;
    background-color: blue;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.download-btn:hover {
    background-color: red;
}


.qrcode {
    margin-bottom: 10px;
}
