<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javapandeng.mapper.QuestionMapper">
    <!--实体类与数据库映射字段部分-->
    <resultMap id="ResultMapQuestion" type="com.javapandeng.po.Question">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="questionContent" column="questionContent" jdbcType="VARCHAR"/>
        <result property="questionTime" column="questionTime" jdbcType="VARCHAR"/>
        <result property="answerContent" column="answerContent" jdbcType="VARCHAR"/>
        <result property="answerTime" column="answerTime" jdbcType="VARCHAR"/>
        <result property="questionStatus" column="questionStatus" jdbcType="VARCHAR"/>
        <result property="whoneedanswer" column="whoneedanswer" jdbcType="VARCHAR"/>
        <result property="dianid" column="dianid" jdbcType="INTEGER"/>
        <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 声明数据库字段 -->
    <sql id="Question_field">
        id,questionContent,questionTime,answerContent,answerTime,questionStatus,whoneedanswer,dianid,isDelete
    </sql>

    <!-- 实体类属性-->
    <sql id="Question_insert">
        #{id},#{questionContent},#{questionTime},#{answerContent},#{answerTime},#{questionStatus},#{whoneedanswer},#{dianid},#{isDelete}
    </sql>

    <!-- 更新结果  -->
    <sql id="Question_update">
        <if test="id != null">
            id = #{id},
        </if>
        <if test="questionTime != null">
            questionTime = #{questionTime},
        </if>
        <if test="answerContent != null">
            answerContent = #{answerContent},
        </if>
        <if test="answerTime != null">
            answerTime = #{answerTime},
        </if>
        <if test="questionStatus != null">
            questionStatus = #{questionStatus},
        </if>
        <if test="whoneedanswer != null">
            whoneedanswer = #{whoneedanswer},
        </if>
        <if test="dianid != null">
            dianid = #{dianid},
        </if>
        <if test="isDelete != null">
            isDelete = #{isDelete},
        </if>
    </sql>

    <!-- 查询时条件   -->
    <sql id="Question_where">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="questionContent != null">
            and questionContent = #{questionContent}
        </if>
        <if test="questionTime != null">
            and questionTime = #{questionTime}
        </if>
        <if test="answerContent != null">
            and answerContent = #{answerContent}
        </if>
        <if test="answerTime != null">
            and answerTime = #{answerTime}
        </if>
        <if test="questionStatus != null">
            and questionStatus = #{questionStatus}
        </if>
        <if test="whoneedanswer != null">
            and whoneedanswer = #{whoneedanswer}
        </if>
        <if test="dianid != null">
            and dianid = #{dianid}
        </if>
        <if test="isDelete != null">
            and isDelete = #{isDelete}
        </if>
    </sql>

    <!--    新增        -->
    <!--    参数：实体类-->
    <!--    返回：主键 -->
    <insert id="insert" parameterType="com.javapandeng.po.Question" useGeneratedKeys="true" keyProperty="id">
        insert into question(
        <include refid="Question_field"/>
        ) values(
        <include refid="Question_insert"/>
        )
    </insert>

    <!-- 根据实体主键删除一个实体-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from question where id=#{id}
    </delete>

    <!-- 通过实体删除-->
    <delete id="deleteByEntity" parameterType="com.javapandeng.po.Question">
        delete from question where 1=1
        <include refid="Question_where"/>
    </delete>

    <!-- 通过map删除 -->
    <delete id="deleteByMap" parameterType="java.util.HashMap">
        delete from question where 1=1
        <include refid="Question_where"/>
    </delete>

    <!-- 更新一个实体 -->
    <update id="update" parameterType="com.javapandeng.po.Question">
        update question
        <set>
            <include refid="Question_update"/>
        </set>
        where 1=1
        <include refid="Question_where"/>
    </update>

    <!-- 通过id进行修改-->
    <update id="updateById" parameterType="com.javapandeng.po.Question">
        update question
        <set>
            <include refid="Question_update"/>
        </set>
        where id=#{id}
    </update>

    <!-- 根据参数查询-->
    <select id="listByMap" resultMap="ResultMapQuestion" parameterType="map">
        select <include refid="Question_field"/>
        from question where 1=1
        <include refid="Question_where"/>
    </select>

    <!-- 查询整个表 -->
    <select id="listAll" resultMap="ResultMapQuestion">
        select <include refid="Question_field"/>
        from question
    </select>

    <!-- 查询所有实体,根据实体属性值为判断条件查询所有实体-->
    <select id="listAllByEntity" resultMap="ResultMapQuestion" parameterType="com.javapandeng.po.Question">
        select <include refid="Question_field"/>
        from question where 1=1
        <include refid="Question_where"/>
    </select>

    <!-- 根据主键获取一个实体-->
    <select id="load" resultMap="ResultMapQuestion" parameterType="java.lang.Integer">
        select <include refid="Question_field"/>
        from question where id=#{id}
    </select>

    <!-- 根据主键获取一个实体-->
    <select id="getById" resultMap="ResultMapQuestion" parameterType="java.lang.Integer">
        select <include refid="Question_field"/>
        from question where id=#{id}
    </select>

    <!-- 通过map查询-->
    <select id="getByMap" resultMap="ResultMapQuestion" parameterType="map">
        select <include refid="Question_field"/>
        from question where 1=1
        <include refid="Question_where"/>
    </select>

    <!--通过对象查询-不分页-->
    <select id="getByEntity" resultMap="ResultMapQuestion" parameterType="com.javapandeng.po.Question">
        select <include refid="Question_field"/>
        from question where 1=1
        <include refid="Question_where"/>
    </select>

    <!-- 通过map查询分页-->
    <select id="findByMap" resultMap="ResultMapQuestion" parameterType="map">
        select <include refid="Question_field"/>
        from question where 1=1
        <include refid="Question_where"/>
    </select>

    <!--通过对象查询分页-->
    <select id="findByEntity" resultMap="ResultMapQuestion" parameterType="com.javapandeng.po.Question">
        select <include refid="Question_field"/>
        from question where 1=1
        <include refid="Question_where"/>
    </select>

    <!-- 批量新增-->
    <select id="insertBatch" parameterType="java.util.List">
        insert into question(
        <include refid="Question_field"/>
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.questionContent},#{item.questionTime},#{item.answerContent},#{item.answerTime},#{item.questionStatus},#{item.whoneedanswer},#{item.dianid},#{item.isDelete})
        </foreach>
    </select>

    <!-- 批量修改-->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            update question
            <set>
                <if test="item.id != null">
                    id = #{item.id},
                </if>
                <if test="item.questionTime != null">
                    questionTime = #{item.questionTime},
                </if>
                <if test="item.answerContent != null">
                    answerContent = #{item.answerContent},
                </if>
                <if test="item.answerTime != null">
                    answerTime = #{item.answerTime},
                </if>
                <if test="item.questionStatus != null">
                    questionStatus = #{item.questionStatus},
                </if>
                <if test="item.whoneedanswer != null">
                    whoneedanswer = #{item.whoneedanswer},
                </if>
                <if test="item.dianid != null">
                    dianid = #{item.dianid},
                </if>
                <if test="item.isDelete != null">
                    isDelete = #{item.isDelete},
                </if>
            </set>
            where 1=1
            <if test="item.id != null">
                and id = #{item.id}
            </if>
        </foreach>
    </update>

    <!-- 封装纯sql语法-->
    <!-- 查询一个对象返回map-->
    <select id="getBySqlReturnMap" resultType="map">
        ${sql}
    </select>

    <!-- 查询一个对象返回实体类-->
    <select id="getBySqlReturnEntity" resultMap="ResultMapQuestion">
        ${sql}
    </select>

    <!-- 查询一个对象返回map列表-->
    <select id="listBySqlReturnMap" resultType="map">
        ${sql}
    </select>

    <!-- 查询列表返回实体-->
    <select id="listBySqlReturnEntity" resultMap="ResultMapQuestion">
        ${sql}
    </select>

    <!-- 查询分页-->
    <select id="findBySqlRerturnEntity" resultMap="ResultMapQuestion">
        ${sql}
    </select>

    <!-- 通过sql修改-->
    <update id="updateBysql">
        ${sql}
    </update>

    <!-- 通过sql删除-->
    <delete id="deleteBySql">
        ${sql}
    </delete>
</mapper>